<!DOCTYPE html>
<html>
<head>
    <title>チュートリアル</title>
    <script defer src="{{ asset('build/calapp.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('build/calapp.css') }}"/>
    <style type="text/css">
        body {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
<div id="calculator"></div>
</body>
</html>