<!DOCTYPE html>
<html>
<head>
    <title>チュートリアル</title>
    <script defer src="{{ asset('build/vueapp.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('build/vueapp.css') }}"/>
</head>
<body>
<div id="tutorial"></div>
</body>
</html>