<!DOCTYPE html>
<html>
<head>
    <title>CSS scoped 確認</title>
    <script defer src="{{ asset('build/scopedCssTest.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('build/scopedCssTest.css') }}"/>
</head>
<body>
<div id="tutorial"></div>
</body>
</html>